{% extends 'base.html' %}

{% block title %}Registro{% endblock %}

{% block content %}
<div class="row justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="col-md-8 col-lg-6">
        <div class="card bg-dark text-light border-secondary shadow-lg">
            <div class="card-header bg-primary text-white py-3">
                <h2 class="mb-0 text-center">Registro</h2>
            </div>
            <div class="card-body p-5">
                <form method="post" novalidate>
                    {% csrf_token %}
                    <div class="mb-4">
                        <label for="username" class="form-label fs-5">Nome de Usuário:</label>
                        <input type="text" name="username" class="form-control" required>
                    </div>
                    <div class="mb-4">
                        <label for="email" class="form-label fs-5">E-mail:</label>
                        <input type="email" name="email" class="form-control" required>
                    </div>
                    <div class="mb-4">
                        <label for="password" class="form-label fs-5">Senha:</label>
                        <input type="password" name="password" class="form-control" required>
                    </div>
                    <button type="submit" class="btn btn-primary w-100 py-2 mt-3 fs-5">
                        <i class="bi bi-person-plus me-2"></i> Registrar
                    </button>
                </form>
            </div>
            <div class="card-footer text-center py-3">
                <p class="mb-0 fs-5">Já tem uma conta? <a href="{% url 'login' %}" class="text-primary">Faça login aqui</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
